[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
  editor = nvim
[init]
  defaultBranch = main
[push]
  default = simple
[help]
  autocorrect = 1
[alias]
  up  = pull --rebase --prune
  st  = status
  aa  = add --all
  ap  = add -p
  ci  = commit -v
  cm  = commit -m
  ca  = commit --amend
  co  = checkout
  cob = checkout -b
  di  = diff
  dc  = diff --cached
  lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ls  = branch
  dd  = branch -D
  ps  = push -u origin HEAD
[fetch]
  prune = true
[diff]
  tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$PWD/$LOCAL\" \"$PWD/$REMOTE\"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
