[user]
  name  = Gus Bonfant
  email = gbonfant@me.com
[color]
  ui = true
[core]
  editor = vim
  excludesfiles = $HOME/.gitignore_global
[push]
  default = simple
[alias]
  st = status
  aa = add --all
  ap = add -p
  ci = commit -v
  cm = commit -m
  ca = commit --amend
  co = checkout
  di = diff
  dc = diff --cached
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[fetch]
  prune = true
