# OS specific folder views and configuration files
.DS_Store

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Thumbnail cache files
._*
Thumbs.db

tags
fish_history
fishd.*
repl-history
fzf_key_bindings.fish
*.pyc
.mutt/temp/*
