[user]
  name  = Gus Bonfant
  email = gbonfant@me.com
[color]
  ui = true
[core]
  excludesfiles = $HOME/.gitignore_global
[push]
  default = simple
[alias]
  s  = status -s
  pl = pull origin
  ph = push origin
  b  = branch
  c  = commit
  cm = commit -am
  co = checkout
  lg = log --graph --pretty = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
