[user]
  name  = Gus Bonfant
  email = gbonfant@me.com
[color]
  ui = true
[core]
  excludesfiles = $HOME/.gitignore_global
[push]
  default = simple
[alias]
  st = status -s
  aa = add --all
  ap = add -p
  cv = commit -v
  ca = commit --amend
  co = checkout
  lg = log --graph --pretty = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[fetch]
  prune = true
