<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>(face)</string>
		<key>with</key>
		<string>( ͡° ͜ʖ ͡°) </string>
	</dict>
	<dict>
		<key>on</key>
		<integer>1</integer>
		<key>replace</key>
		<string>omw</string>
		<key>with</key>
		<string>On hello my way!</string>
	</dict>
</array>
</plist>
