[user]
  name  = Gus Bonfante
  email = gus@gbonfante.com
[color]
  ui = true
[core]
  editor = nvim
[push]
  default = simple
[help]
  autocorrect = 1
[alias]
  up  = pull --rebase --prune
  st  = status
  aa  = add --all
  ap  = add -p
  ci  = commit -v
  cm  = commit -m
  ca  = commit --amend
  co  = checkout
  cob = checkout -b
  di  = diff
  dc  = diff --cached
  lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ls  = branch
  dd  = branch -D
  ps  = push -u origin HEAD
[fetch]
  prune = true
[filter "lfs"]
  smudge   = git-lfs smudge -- %f
  process  = git-lfs filter-process
  required = true
  clean    = git-lfs clean -- %f
